// ============================================
// Back Breeze Config
// ============================================

$bb-directional-properties: ('padding', 'margin', 'border') !default;
$bb-negative-properties: ('margin', 'top', 'left', 'bottom', 'right') !default;

$bb-breakpoints: (
  'xs': 416px,
  'sm': 756px,
  'md': 1024px,
  'lg': 1220px,
  'xl': 1460px
) !default;

$bb-mqs: (
  'xs': '(min-width: 416px)',
  'sm': '(min-width: 756px)',
  'md': '(min-width: 1024px)',
  'lg': '(min-width: 1220px)',
  'xl': '(min-width: 1460px)'
) !default;

$bb-prefix: '' !default;

$bb-pseudo: ('hover', 'focus', 'active', 'group-hover');

$bb-spacing: (
  '1': 1px,
  '2': 2px,
  '3': 3px,
  '4': 4px,
  '': 26px
) !default;

// align-self
// ============================================

$bb-align-self-values: (
  'auto': auto,
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'base': baseline,
  'stretch': stretch
) !default;

$bb-align-self-config: (
  'name': 'as',
  'prop': 'align-self',
  'mqs': $bb-mqs,
  'values': $bb-align-self-values
) !default;

// opacity
// ============================================

$bb-opacity-values: (
  '0\\.2': 0.2,
  '0\\.5': 0.5,
  '1': 1
) !default;

$bb-opacity-config: (
  'name': 'o',
  'prop': 'opacity',
  'mqs': $bb-mqs,
  'pseudo': $bb-pseudo,
  'values': $bb-opacity-values
) !default;

// margin
// ============================================

$bb-margin-values: $bb-spacing !default;

$bb-margin-config: (
  'name': 'm',
  'prop': 'margin',
  'mqs': $bb-mqs,
  'values': $bb-margin-values
) !default;

// border
// ============================================

$bb-border-width-values: (
  '1': 1px,
  '2': 2px,
  '3': 3px
) !default;

$bb-border-config: (
  'name': 'bw',
  'prop': 'border-width',
  'mqs': $bb-mqs,
  'values': $bb-border-width-values
) !default;
