// ============================================
// Backbreeze Configuration
// ============================================

// Internal
// ============================================

$bb-directional-properties: (
  'padding',
  'margin',
  'border',
  'border-width',
  'border-style',
  'border-color',
  'border-radius'
) !default;

$bb-negative-properties: ('margin', 'top', 'left', 'bottom', 'right') !default;

$bb-pseudo: ('hover', 'focus', 'active', 'group-hover') !default;

$bb-overflow: (
  'hidden': hidden,
  'visible': visible,
  'scroll': scroll,
  'auto': auto
) !default;

// General
// ============================================

$bb-namespace: '' !default;

$bb-bps: (
  'xs': 416px,
  'sm': 756px,
  'md': 1024px,
  'lg': 1220px,
  'xl': 1460px
) !default;

$bb-spacing: (
  '0': 0,
  '1': 1px,
  '2': 2px,
  '3': 3px,
  '4': 4px,
  '': 26px
) !default;

$bb-sizes: (
  '0': 0,
  '100%': 100%,
  '50%': 50%,
  'auto': auto
) !default;

$bb-colors: (
  'white': #fff,
  'black': #000,
  'transparent': transparent,
  'current': currentColor
) !default;

// Property-driven
// ============================================

@import 'props/align-content';
@import 'props/align-items';
@import 'props/align-self';
@import 'props/appearance';
@import 'props/backface-visibility';
@import 'props/background-attachment';
@import 'props/background-blend-mode';
@import 'props/background-color';
@import 'props/background-position';
@import 'props/background-repeat';
@import 'props/background-size';
@import 'props/border-collapse';
@import 'props/border-color';
@import 'props/border-style';
@import 'props/border-width';
@import 'props/border-radius';
@import 'props/bottom';
@import 'props/box-shadow';
@import 'props/box-sizing';
@import 'props/clear';
@import 'props/color';
@import 'props/column-count';
@import 'props/column-gap';
@import 'props/cursor';
@import 'props/display';
@import 'props/fill';
@import 'props/flex';
@import 'props/flex-basis';
@import 'props/flex-direction';
@import 'props/flex-grow';
@import 'props/flex-shrink';
@import 'props/flex-wrap';
@import 'props/float';
@import 'props/font-family';
@import 'props/font-size';
@import 'props/font-style';
@import 'props/font-weight';
@import 'props/gap';
@import 'props/height';
@import 'props/justify-content';
@import 'props/left';
@import 'props/letter-spacing';
@import 'props/line-height';
@import 'props/list-style-position';
@import 'props/list-style-type';
@import 'props/margin';
@import 'props/max-height';
@import 'props/max-width';
@import 'props/min-height';
@import 'props/min-width';
@import 'props/mix-blend-mode';
@import 'props/object-fit';
@import 'props/object-position';
@import 'props/opacity';
@import 'props/order';
@import 'props/outline-color';
@import 'props/outline-offset';
@import 'props/outline-style';
@import 'props/outline-width';
@import 'props/overflow';
@import 'props/overflow-x';
@import 'props/overflow-y';
@import 'props/padding';
@import 'props/pointer-events';
@import 'props/position';
@import 'props/resize';
@import 'props/right';
@import 'props/stroke-width';
@import 'props/stroke';
@import 'props/table-layout';
@import 'props/text-align';
@import 'props/text-decoration';
@import 'props/text-indent';
@import 'props/text-overflow';
@import 'props/text-transform';
@import 'props/top';
@import 'props/transform-origin';
@import 'props/transform';
@import 'props/transition-delay';
@import 'props/transition-duration';
@import 'props/transition-property';
@import 'props/transition-timing-function';
@import 'props/vertical-align';
@import 'props/visibility';
@import 'props/white-space';
@import 'props/width';
@import 'props/z-index';

// Mixins
// ============================================

@import 'mixins';
