// ============================================
// Back Breeze Config
// ============================================

$bb-directional-properties: (
  'padding',
  'margin',
  'border',
  'border-width',
  'border-style',
  'border-color',
  'border-radius'
) !default;
$bb-negative-properties: ('margin', 'top', 'left', 'bottom', 'right') !default;

$bb-bps: (
  'xs': 416px,
  'sm': 756px,
  'md': 1024px,
  'lg': 1220px,
  'xl': 1460px
) !default;

$bb-prefix: '' !default;

$bb-pseudo: ('hover', 'focus', 'active', 'group-hover') !default;

$bb-spacing: (
  '1': 1px,
  '2': 2px,
  '3': 3px,
  '4': 4px,
  '': 26px
) !default;

$bb-colors: (
  'white': '#fff',
  'black': '#000'
) !default;
